.Carousel {
  width: 100%;
  height: 350px;
  position: relative;
}
.data {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}
.data > input {
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
  border: none;
}
.data > inut ::placeholder {
  margin-left: 5px;
}
.data > button {
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
}
.Carousel {
  width: 100vw;
  height: 100vh;
}
.Carousel > div {
  width: 100%;
  height: 70%;
}
.Carousel > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.left {
  position: absolute;
  top: 47.5%;
  left: 1%;
  border-radius: 25px;
  padding: 5px;
  border: none;
  display: block;
}
.right {
  position: absolute;
  top: 47.5%;
  right: 1%;
  border-radius: 25px;
  padding: 5px;
  border: none;
  display: block;
}
